div.message {
  position: fixed !important;
  bottom: 5%;
  left: 5%;
  z-index: 99000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) !important;
  cursor: pointer;
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.5s ease !important;
}

div.message:empty {
  opacity: 0 !important;
  visibility: hidden !important;
}

.rate_message {
  position: fixed !important;
  bottom: 5%;
  left: 5%;
  width: 300px;
}
