html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  min-height: 100%;
      display: flex;
    flex-direction: column;
    opacity: 0;
}
#__next.loaded {
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.date-picker .field:nth-child(2),
.date-picker .field:nth-child(2) .field {
  margin: 0 !important;
  flex-grow: 1;
  margin-right: .25rem !important;
}

.date-picker .field:nth-child(2) .field .input {
  width: 100% !important;
}