.TopYar {
  display: flex;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  height: 55px;
  z-index: 100;
  position: fixed;
  border-bottom-right-radius: 10px;
}

.TopYar_info {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.TopYar_roomName {
  font-weight: bold;
  font-size: 16px;
}

.TopYar_actions {
  width: 30%;
  min-width: 350px;
  max-width: 450px;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
}

.TopYar_actions > * {
  flex-grow: 1;
}

.TopYar_actions > *:not(:last-child) {
  margin-right: .5rem;
}

.Files {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  flex-grow: 1;
  padding: .5rem;
  overflow: auto;
}

