.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App--logged-out {
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);

  .LoginForm {
    width: 100%;
    max-width: 350px;
  }
}

.App--logged-in {
  .MuiCard-root {
    min-width: 400px;
    min-height: 250px;
  }
}
